# EXAMPLE

build_password = ""
build_password_encrypted = ""
root_password = "helloworld"
root_password_encrypted = "$6$2WdY/4PHlOmGN4g3$teQZ/liUdj1EotM1M6QRtcj50DT1FKHvoDe/Ke/9JY.E.0iisy2YVaUdwpblbbM5ygaF//cnZa16D8GQXBTyk1"
rhsm_username = ""
rhsm_password = ""
